#name{
    text-align:center;
}

#about-me{
    text-align: center;
}

#nav_links{
    display: grid;
    text-decoration: none;
    padding: 5px 10px;
    text-align:center;
}
#htmlLink:hover {
    color: green; /* Change color on hover for better interactivity */
}

.htmlLinks:focus {
    color: green; /* Change color on hover for better interactivity */
}

header{

}

@media (min-width: 670px) {
    #nav_links{
        display: grid; /* Use grid layout */
        grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
        gap: 20px; /* Add spacing between the columns */
    }
}